name: Build-Push-Orders-to-ECR

on:
  push:
    branches: ["master"]
    paths:
      - 'services/orders/**'

permissions:
  id-token: write
  contents: read

env:
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  PRIMARY_REGION: ${{ secrets.AWS_REGION_PRIMARY }}
  SECONDARY_REGION: ${{ secrets.AWS_REGION_SECONDARY }}
  COMPONENT: "orders"

jobs:
  build_push:
    runs-on: ubuntu-latest

    steps:
      # ---------- Checkout ----------
      - name: Checkout
        uses: actions/checkout@v4

      # ---------- Image tag ----------
      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      # ---------- AWS credentials (OIDC) ----------
      - name: Configure AWS credentials (primary)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION_PRIMARY }}

      # ---------- Login ECR (primary) ----------
      - name: Login to ECR (primary)
        run: |
          aws ecr get-login-password --region "$PRIMARY_REGION" \
          | docker login --username AWS --password-stdin \
            "$AWS_ACCOUNT_ID.dkr.ecr.$PRIMARY_REGION.amazonaws.com"

      # ---------- Build & push (primary) ----------
      - name: Build & push orders (primary)
        run: |
          set -e
          DIR="services/orders"
          IMAGE_URI="$AWS_ACCOUNT_ID.dkr.ecr.$PRIMARY_REGION.amazonaws.com/orders:$IMAGE_TAG"

          echo "=== Building orders ==="
          docker build -t "$IMAGE_URI" "$DIR"

          echo "=== Pushing orders to primary ==="
          docker push "$IMAGE_URI"

      # ---------- Login ECR (secondary) ----------
      - name: Login to ECR (secondary)
        run: |
          aws ecr get-login-password --region "$SECONDARY_REGION" \
          | docker login --username AWS --password-stdin \
            "$AWS_ACCOUNT_ID.dkr.ecr.$SECONDARY_REGION.amazonaws.com"

      # ---------- Tag & push (secondary) ----------
      - name: Tag & push orders (secondary)
        run: |
          set -e
          PRIMARY_URI="$AWS_ACCOUNT_ID.dkr.ecr.$PRIMARY_REGION.amazonaws.com/orders:$IMAGE_TAG"
          SECONDARY_URI="$AWS_ACCOUNT_ID.dkr.ecr.$SECONDARY_REGION.amazonaws.com/orders:$IMAGE_TAG"

          echo "=== Tagging orders for secondary ==="
          docker tag "$PRIMARY_URI" "$SECONDARY_URI"

          echo "=== Pushing orders to secondary ==="
          docker push "$SECONDARY_URI"
